

h1 {
    text-align: center;
    background-color: #0bc5dd;
    color: white;
    font-size: 30px;
  }
a {
font-size: 20px;



}
p {
  background-color: #0bc5dd;
}
.text {
  background-color:#b5fafc;
  font-size: 25px;
}